body{
    background-color: #2E5E79;
}
#block-body{
    width: 950px;
    margin: 5px auto;
    background-color: #D1DEE4;
    border: 1px solid #000000;
}
#block-header{
    width: 950px;
    height: 82px;
    background-color: #204562;
    /* background: url(../images/header-repeat.jpg) repeat; */
    border-bottom: 1px solid #4d6a79;
}
#block-header1{
   /* width: 300px; */
    float: left;
    display: flex;
    background: #113754;
    border: 2px solid #113754;
    box-shadow: 2px 3px 4px 0px rgba(0, 0, 0, .3), 20px -8px 20px -23px rgba(0, 0, 0, .8), 18px 20px 20px -23px rgba(0, 0, 0, .8), 20px -1px 40px rgba(0, 0, 0, .1) inset;
}
#block-header1 h3{
/*    font: 20px sans-serif;
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 5px;*/
    font: 20px sans-serif;
    margin-left: 15px;
    margin-top: -8px;
    margin-bottom: 5px;
    background-image: url(../../images/logonew.png);
    background-size: cover;
    height: 80px;
    width: 200px;
}
#block-header1 p{
    margin-left: 15px;
    margin-top: 10px;
    width: auto;
    align-self: center;
    font-weight: bold;
    font-size: 17px;
    color: #93eaff;
}
#block-header1 a{
    font: 17px sans-serif;
    color: #f7f7f7;
    padding-right: 5px;
    font-family: ft40;
}
#block-header2{
    width: 250px;
    height: 78px;
    float: right;
    background: #113754;
    border: 2px solid #113754;
    box-shadow: -3px 1px 4px 0px rgba(0, 0, 0, .3), -20px 6px 20px -23px rgba(0, 0, 0, .8), -20px -20px 20px -23px rgba(0, 0, 0, .8), 0 0 40px rgba(0, 0, 0, .1) inset;
}
#block-header2 p{
    margin-top: 10px;
    margin-right: 10px;
    color: #ffffff;
    font: 16px sans-serif;
}
#block-header2 a{
    font: 16px sans-serif;
    text-decoration: none;
    color: #A1EAFF;
}
#block-header2 a:hover{
    text-decoration: underline;
}
#block-header2 span{
    border-bottom: 2px dashed #CDDC39;
    color: #A1EAFF;
}
#left-nav{
    width: 200px;
    height: auto;
    min-height: 200px;
    position: absolute;
    border-right: 2px solid #607D8B;
    border-bottom: 2px solid #607D8B;
}
#left-nav ul{
    /* margin-top: 10px; */
    /* border-top: 0; */
    /* margin-bottom: 0; */
}
#left-nav li{
    /* margin-left: 15px; */
    /* padding-top: 5px; */
    /* padding-bottom: 5px; */
    /*border-bottom: 1px solid #EDEDED;*/
    border-bottom: 1px solid #ccc;
    height: 40px;
}
#left-nav a{
    font: 15px sans-serif;
    text-decoration: none;
    width: 100%;
    /* height: 20px; */
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #1B548D;
    background: url(../images/sidemenu-repeat.jpg) repeat-x;
    font-size: 20px;
    text-indent: 10px;
    font-family: ft40;
}
#left-nav a:hover{
    /*text-decoration: underline;*/
    color: #2377c7;
    background: url(../images/sidemenu-repeat-hover.jpg) repeat-x;
}
#block-content{
    width: 747px;
    min-height: 650px;
    height: auto;
    margin-left: 201px;
    /*border-left: 1px solid #E0E0E0;*/
    border-left: 1px solid #607D8B;
}
#block-parameters{
    height: 40px;
    width: 748px;
    border-bottom: 1px solid #E0E0E0;
    /* border-bottom: 1px solid #ccc; */
    /* background-color: #F2F2F2; */
    background: url(../images/nav-repeat2.jpg) repeat-x;
}
#title-page{
    font: 18px sans-serif;
    margin-top: 10px;
    margin-left: 10px;
    position: absolute;
    font-family: ft40;
    color: #A1EAFF;
}
#block-info{
    height: 40px;
    border-bottom: 1px solid #607D8B;
    background: linear-gradient(to bottom, #f5f5f5, rgba(224, 224, 224, 0.61))
}
#count-style{
    margin-top: 12px;
    font: 14px sans-serif;
    margin-left: 10px;
    position: absolute;
}
#block-tovar{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*justify-content: space-around;*/
}
#block-tovar li{
    height: 260px;
    width: 230px;
    float: left;
    margin-left: 7px;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    border: 4px ridge lightskyblue;
}

#block-tovar p{
    margin-top: 10px;
    font: 15px sans-serif;
    text-align: center;
}
.delete{
    font:bold 13px sans-serif;
    color: #D6533C;
    cursor: pointer;
    text-decoration: underline;
}
.green{
    font:bold 13px sans-serif;
    color: green;
}
.pstrnav {
    height: 40px;
    width: auto;
    margin-top: 30px;
    margin-bottom: 20px;
    display: inline-block;
}
.pstrnav li{
   float: left;
   margin-top: 10px;
}
.pstrnav a{
    font: 17px sans-serif;
    text-decoration: none;
    color: black;
    display: block;
    padding-left: 4px;
    padding-right: 4px;
}
.pstrnav a:hover{
    color: #E26029;
}
a.pstr-prev, a.pstr-next{
    color: #006289;
    font: 17px arial;
    text-decoration: underline;
    margin-left: 10px;
    margin-right: 10px;
}
a.pstr-prev:hover, a.pstr-next:hover{
    text-decoration: none;
}

.pstrnav a.pstr-active{
    color: #D95D27;
    font-weight: bold;
}
.pstrnav p.nav-point{
    text-align: center;
    font:14px sans-serif; 
    margin-top: 5px;  
} 
#footerfix{
    clear: both;
}
#options-list > li{
    float: left;
    margin-left: 10px;
    font: 17px sans-serif;
    margin-top: 13px;
    font-family: ft40;
    color: #A1EAFF;
}
#options-list > li > a{
    color: #8BC34A;
    font-family: sans-serif;
}
#list-links{
    background-color: white; 
    border: 1px solid #A3C0D2;
    position: absolute;
    display: none;
    /*width: 450px;*/
   padding-top: 5px;
   padding-bottom: 7px;
   height: auto;
   z-index: 1;
}
#list-links > ul{
   width: 150px;
   float: left;
}
#list-links > ul > li{
   margin-top: 3px;
   margin-left: 10px;
}
#list-links > ul > li > a{
   font: 15px sans-serif;
   text-decoration: none; 
   color: black;
}
#list-links > ul > li > a:hover{
   text-decoration: underline; 
}
#add-style{
   margin-top: 12px;
   margin-left: 618px;
   position: absolute;
}
#add-style > a{
  font: 13px arial;
  color: black;
  text-decoration: none;
  border: 1px solid #FFDACA;
  background-color: #FFE7E7;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 4px;
  padding-bottom: 4px;
}
#add-style > a:hover{ 
  border: 1px solid #FFBFA4;
}
#edit-tovar label{
  position: absolute;
  font: 15px sans-serif; 
  margin-top: 6px; 
  margin-left: 20px; 
}
#edit-tovar{
  margin-top: 20px;   
}
#edit-tovar li{
  margin-top: 10px;   
}
#edit-tovar input{
    margin-left: 170px;
    width: 400px;
    height: 25px;
    border: 1px solid #D4D4D4;
    padding-left: 5px;
    font: 15px sans-serif;
    border-radius: 5px;
}
#edit-tovar textarea{
  margin-left: 170px;
  width: 401px;
  height: 80px;
  border: 1px solid #D4D4D4; 
  font: 15px sans-serif;  
}
#edit-tovar select#type{
  margin-left: 170px;
  width: 250px;
  height: 25px;
  border: 1px solid #D4D4D4;   
}
#edit-tovar select{
    margin-left: 170px;
    width: 550px;
    border: 1px solid #D4D4D4;
    overflow: auto;
    border-radius:5px;
}

#baseimg-upload{
  margin-top: 40px;     
}
#baseimg-upload input{
  margin-left: 15px;    
}
.h3click{
    font: bold 15px sans-serif;
    cursor: pointer;
    padding-left: 25px;
    padding-top: 6px;
    padding-bottom: 6px;
    /* background-color: #EAEAEA; */
    background: linear-gradient(to bottom, #f5f5f5, rgba(224, 224, 224, 0.61));
    border: 1px solid #E3E3E3;
}
.h3click:hover{
    /* background-color: #DDDDDD; */
    background: linear-gradient(to bottom, #f5f5f5, rgb(204, 204, 204));
}
.stylelabel{
  position: absolute;
  font: 15px sans-serif; 
  margin-top: 6px; 
  margin-left: 20px;    
}
#objects{
    margin-top: 50px;
}
.addimage{
    margin-left: 50px;
    margin-top: 5px;
}
.div-editor1,.div-editor2,.div-editor3,.div-editor4{
    display: none;
}
#submit_form{
    border: 1px solid #A8BBD4;
    background-color: #BBD0EC;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-right: 15px;
    font: bold 16px sans-serif;
    color: black;
    cursor: pointer;
    margin-bottom: 20px;
}
#submit_form:hover{
    border: 1px solid #779FD3;
}
#chkbox > li{
    margin-top: 5px;
    margin-left: 10px;
    font: 15px sans-serif;
}
.h3title{
    font: bold 17px sans-serif;
    margin-left: 10px;
}
#add-input{
    margin-left: 15px;
    font:bold 13px sans-serif;
    cursor: pointer;
    text-decoration: underline;
    color: #34659D;
    display: inline-block;
}
.addimage a{
 font:bold 13px sans-serif;
 color: #D90094; 
 text-decoration: none;  
 cursor: pointer;
}
.addimage a:hover{
 text-decoration: underline;  
}
#form-error{
    font:bold 14px sans-serif;
    color: red;
    background-color: #F7EDEF;
    border: 1px solid #FAC8D3;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-top: 0;
    margin-bottom: 0;
}
#form-success{
    font:bold 14px sans-serif;
    color: black;
    background-color: #E6EED9;
    border: 1px solid #D1E7BC;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-top: 0;
}
#baseimg{
  margin-top: 40px; 
  height: 120px;
}

#baseimg img{
  float: left;
  margin-left: 15px;
}
#baseimg a{
    width: 16px;
    height: 16px;
    background: url(../images/action_delete.png);
    float: left;
    cursor: pointer;
    margin-left: 5px;
}
#gallery-img{
    height: 125px;
    margin-top: 20px;
}
#gallery-img li{
    float: left;
    margin-left: 20px;
}
#gallery-img img{
    float: left;
}
#gallery-img a{
    width: 16px;
    height: 16px;
    background: url(../images/action_delete.png) no-repeat;
    float: right;
    cursor: pointer;
    margin-left: 5px;
}
#list-links-sort{
    background-color: white; 
    border: 1px solid #A3C0D2;
    position: absolute;
    display: none;
    width: 200px;
   padding-top: 5px;
   padding-bottom: 7px;
   height: auto;
   z-index: 1;
}

#list-links-sort  li{
   margin-top: 3px;
   margin-left: 10px;
}
#list-links-sort  a{
   font: 15px sans-serif;
   text-decoration: none; 
   color: black;
}
#list-links-sort a:hover{
   text-decoration: underline; 
}

#review-info-count li{
    float: left;
    margin-left: 10px;
    font: 14px sans-serif;
    margin-top: 12px;
}
.block-reviews{
    border-bottom: 1px solid #E0E0E0;
    min-height: 170px;
    height: auto;
}
.reviews-comment{
    clear: both;
    margin-left: 15px;
    margin-right: 15px;
    font: 15px sans-serif;
}
.block-title-img{
    margin-right: 15px;
    margin-bottom: 10px;
    width: 190px;
    min-height: 170px;
    height: auto;
    float: left;
}
.block-title-img > p{
    text-align: center;
    margin-top: 0px;
    margin-left: 10px;
    margin-bottom: 15px;
    font: 15px sans-serif;
}
.plus-minus{
    margin-bottom: 10px;
    float: left;
    width: 530px; 
    min-height: 100px;
    height: auto;
}
.plus-minus > img{
    position: absolute;
    
}
.plus-minus > p{
    font: 14px sans-serif;
    margin-left: 30px; 
    margin-top: 0px;
}
.author-date{
   font: 14px arial;
   margin-left: 20px;
   color: #525252;
}
.links-actions{
    margin-right: 15px; 
}
#cat_products{
    margin-top: 20px;
}
#cat_products li{
    margin-top: 15px;
}
#cat_products label{
    position: absolute;
    margin-left: 15px;
    font: 17px sans-serif;
    margin-top: 3px;
}
#cat_products select{
    margin-left: 150px;
    width: 400px;
    height: 350px;
    overflow: auto;
    border-radius: 5px;
}
#cat_products input{
    margin-left: 150px;
    width: 395px;
    height: 25px;
    border-radius: 5px;
}
#cat_products div{
   position: absolute;
   margin-left: 560px;
   display: inline-block;
}
#cat_products a{
    font: 17px sans-serif;
    display: block;
    margin-top: 4px;
    color: red;
    cursor: pointer;
    text-decoration: underline;
}
#cat_products a:hover{
  text-decoration: none;
}
#count-client{
    position: absolute;
    font: 20px sans-serif;
    margin-left: 10px;
    margin-top: 12px;
    font-family: ft40;
    color: #A1EAFF;
}
.block-clients{
    /*border-bottom: 1px solid #E0E0E0;*/
    border-bottom: 1px solid #607D8B;
    min-height: 40px;
    height: auto;
    cursor: pointer;
}
.block-clients > ul{
  display: none;
  margin-bottom: 15px;
}
.block-clients > ul > li{
    margin-left: 20px;
    padding-top: 4px;
    font: 16px sans-serif;
}
.block-clients > ul > li > strong{
    color: #323232;
    font-size: 17px;
}
.client-datetime{
    font: 14px sans-serif;
    margin-left: 10px;
    /*color: #767676;*/
    color:#795548;
    margin-top: 10px;
    margin-bottom: 0px;   
}
.client-email{
    font: 16px sans-serif;
    margin-left: 10px;
    color: #113754;
    margin-top: 5px;
    margin-bottom: 10px;
}
.client-links{
    font: 14px sans-serif;  
    position: absolute; 
    margin-left: 580px; 
    margin-top: -36px;
}
.block-news{
    /*border-bottom: 1px solid #E0E0E0;*/
    border-bottom: 1px solid #607D8B;
    padding: 10px;
}
.block-news h3{
    font: 19px sans-serif;
    margin: 0;
}
.block-news span{
    display: block;
    font: 12px sans-serif;
    margin-top: 5px;
}
.block-news p{
    font: 15px sans-serif;
    margin-top: 5px;
    margin-bottom: 0px;
}
#add-style{
   margin-top: 12px;
   margin-left: 618px;
   position: absolute;
}
#add-style > a{
    /*border: 1px solid #FFDACA;
    background-color: #FFE7E7;*/
    font: 14px arial;
    color: black;
    text-decoration: none;
    border: 1px solid #e4ffc5;
    background-color: #8BC34A;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 4px;
    padding-bottom: 4px;
}
#add-style > a:hover{
    border: 1px solid #4CAF50;
    background-color: #adf15f;
}
#news{
    width: 400px;
    height: 250px;
    display: none;
}
#block-input{
    height: 200px;
}
#news label{
   display: block; 
    font: 15px sans-serif;
    margin-top: 15px;
}
#news input{
    width: 300px;
    height: 28px;
    margin-left: 10px;
	border:1px solid #E0E0E0;
}
#news input#submit_news{
    width: 100px;
    height: 30px;
    margin-right: 10px;
    border: 1px solid #D7D7D7;
    background-color: #E8E8E8;
    cursor: pointer;
}
#news textarea{
    width: 296px;
    height: 120px;
    position: absolute;
    margin-left: 15px;
	border:1px solid #E0E0E0;
}
#info-admin label{
  position: absolute;
  margin-left: 15px; 
  font: 14px arial;
  margin-top: 6px;
}
#info-admin li{
  margin-top: 10px;   
}
#info-admin input{
 margin-left: 200px;   
 height: 30px;
 width: 350px;
 font: 17px sans-serif;
 border-left: 1px solid #ABABAB;
 border-top: 1px solid #ABABAB;
 border-right: 1px solid #DDDDDD;
 border-bottom: 1px solid #DDDDDD;
 padding-left: 5px;
}
.privilege{
    float: left;
    margin-left: 10px;
}
.privilege li{
    margin-left: 15px;
}
.privilege h3{
    font:bold 15px sans-serif;
}
.privilege label{
    font: 14px sans-serif;
}
.block-privilege{
    height: 120px;
}
#title-privilege{
    margin-left: 15px;
    font-family: sans-serif;
}
#link-privilege{
    margin-left: 15px;
}
#link-privilege a{
    font: 13px sans-serif;
    text-decoration: underline;
    color: #D15019;
    cursor: pointer;
}
#link-privilege a:hover{
    text-decoration: none;
}
#list-admin li{
    /*border-bottom: 1px solid #EDEDED;*/
    border-bottom: 1px solid #607D8B;
    padding-bottom: 10px;
}
#list-admin h3{
    font: bold 19px sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15px;
    color: #1b548d;
}
#list-admin p{
    font: 16px sans-serif;
    margin-top: 3px;
    margin-left: 25px;
    margin-bottom: 0;
}
.block-order{
    border-bottom: 1px solid #607D8B;
    /*border-bottom: 1px solid #E0E0E0;*/
    min-height: 40px;
    height: auto;
}
.order-datetime{
    font: 14px sans-serif;
    margin-left: 10px;
    color: #767676;
    margin-top: 10px;
    margin-bottom: 0px;   
}
.order-number{
     font: 14px sans-serif;
    margin-left: 10px;
    color: black;
    margin-top: 5px;
    margin-bottom: 10px;     
}
.order-link{
    font: 14px sans-serif;  
    position: absolute; 
    margin-left: 580px; 
    margin-top: -36px;
}
.order-link > a.green{
    font:bold 13px sans-serif;
    color: green;   
}
.order-link > a:hover{
    text-decoration: none;   
}
.green{
    font:bold 13px sans-serif;
    color: green;
}
.red{
    font:bold 13px sans-serif;
    color: #D6533C;
}
.view-order-link{
    margin-left: 10px;
}

table{
   margin-top: 20px;
}
th{
    font:bold 14px sans-serif;
}
td{
    border: 1px solid #607D8B;
    font:15px sans-serif;
}
#info-order{
   margin-top: 15px;
}
#info-order li{
   font: 16px sans-serif; 
   margin-left: 10px;
   margin-top: 6px;
}
#info-order span{
   color: #5D6E78;
   font:bold 15px sans-serif;
}
#info-order span.green{
   color: #6BA100;
   font:bold 15px sans-serif;
}
#info-order span.red{
   color: #E05F5F;
   font:bold 15px sans-serif;
}
#general-statistics{
    margin-top: 15px;
    margin-left: 160px;
    width: 400px;
}
#general-statistics li{
    border-bottom: 1px dashed #E0E0E0;
    margin-left: 15px;
    margin-right: 15px;
}
#general-statistics p{
    font: 19px arial;
    margin: -2px 0;
    padding: 5px;
    /* border-bottom: 7px ridge#03A9F4; */
    /* border-left: 5px ridge#03A9F4; */
    /* border-right: 5px ridge#03A9F4; */
    border: 5px ridge#03A9F4;
    font-family: ft40;
    color: #1b5493;
}
#general-statistics span{
    position: absolute;
    margin-left: 330px;
    display: block;
    margin-top: -18px;
    font: bold 16px sans-serif;
    color: #F44336;
}
#title-statistics{
    font: 24px 'ft40',sans-serif;
    margin-left: 15px;
    text-align: center;
    color: #1b5493;
}
#left-nav p{
    font: 16px sans-serif;
    color: white;
    margin-left: 150px;
    position: absolute;
    background-color: #A3C0D2;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: -31px;
}