body{
    background-image: url(../../images/iskra1.jpg);
}
#block-pass-login{
    width: 400px;
    display: flex;
    height: auto; /*345px*/
    border: 1px solid #E5E5E5;
    /* background-color: #9E9E9E; */
    /* margin: 100px auto; */
    background: linear-gradient(to bottom, #f5f5f5, rgba(224, 224, 224, 0.61));
    flex-wrap: wrap;
    border-radius: 5px;
}
#pass-login li{
    margin-top: 10px;
    padding: 0 5px;
    display: flex;
    flex-direction: column;
}
#pass-login label{
       font: 24px 'ft40',sans-serif;
    /* position: absolute; */
    /* margin-top: 4px; */
    /* margin-left: 10px*/
}
#pass-login input{
     /* width: 100%; */
    /* height: 24px; */
    /* margin-left: 75px; */
    border: 1px solid #D6D6D6;
    font: 17px sans-serif;
}
#submit_enter{
    /* border: 1px solid #D6D6D6; */
    /* background-color: #EAEAEA; */
    margin-right: 10px;
    padding: 10px 12px;
    width: 100%;
    /* font: bold 12px sans-serif; */
    /* cursor: pointer; */
}
#submit_enter:hover{
   border: 1px solid #B4B4B4;
}
#msgerror{
    font: 20px sans-serif;
    color: red;
    padding:10px;
    background-color: #FDE5E0;
    border: 1px solid #FDCDC3;
    /* position: absolute; */
    margin: 10px auto 0 auto;
    /* margin: 36vh 4%; */
}
.flex-login{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin: 20vh auto;
}
.login-logo{
    height: 120px;
    width: 260px;
    display: flex;
    margin: 5px auto 0 auto;
    border: 4px solid lightgray;
    background-color: rgba(80, 78, 78, 0.73);;
    /* -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75); */
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 10px 5px rgba(0,0,0,0.75);
	border-radius: 25px;
}